{template 'public/header'}
{template 'public/comhead'}
 <link rel="stylesheet" type="text/css" href="../addons/zh_vip/template/public/ygcss.css">
 <style type="text/css">
    input[type="radio"] + label::before {
        content: "\a0"; /*不换行空格*/
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        width: 1em;
        height: 1em;
        margin-right: .4em;
        border-radius: 50%;
        border: 2px solid #ddd;
        text-indent: .15em;
        line-height: 1; 
    }
    input[type="radio"]:checked + label::before {
        background-color: #44ABF7;
        background-clip: content-box;
        padding: .1em;
        border: 2px solid #44ABF7;
    }
    input[type="radio"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }
</style>
<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li class="active"><a href="javascript:void(0);">商城设置</a></li>
</ul>
 <div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="invitative">
        <div class="panel panel-default ygdefault">
            <div class="panel-body">
            <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">到店自提</label>
                    <div class="col-sm-9">
                        <label class="radio-inline">
                            <input type="radio" id="emailwy1" name="is_zt" value="1" {if $item['is_zt']==1 }checked{/if} />
                            <label for="emailwy1">开启</label>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="emailwy2" name="is_zt" value="2" {if $item['is_zt']==2 || empty($item['is_zt'])}checked{/if} />
                            <label for="emailwy2">关闭</label>
                        </label>    

                    </div>

                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">运费</label>
                    <div class="col-sm-9">
                        <input type="number" name="freight" value="{$item['freight']}" id="web_name" class="form-control" />
<!--                         <div class="ygmargin">*例如填10 代表10积分等于1元钱</div> -->
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">满包邮</label>
                    <div class="col-sm-9">
                        <input type="number" name="full" value="{$item['full']}" id="web_name" class="form-control" />
                        <div class="ygmargin">*用户一次购买金额达到可免邮费,不填或填零则不开启该功能</div>
                    </div>

                </div>                
                
               
            </div>
        </div>
        
        <div class="form-group">
            <input type="submit" name="submit" value="保存设置" class="btn col-xs-2" style="color: white;background-color: #44ABF7;margin-left: 30%;" />
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$item['id']}"/>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-3").show();
        $("#yframe-3").addClass("wyactive");
    })
</script>{template 'common/footer'}